[Unit]
Description=Postgis95
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm --name %n -v /home/grahame/code/ealgis/data/recipes:/recipes -v /btrfs/ealgis:/data -v /btrfs/postgis95:/var/lib/postgresql/data -e POSTGRES_PASSWORD="Aev6ieL8aequekue" mdillon/postgis:9.5
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
